{% extends "templates/account-template.html" %}


{% block inside_content %}

    <div class="content">
        <p class="title is-4 has-text-centered mt-0">Change your password</p>

        {# Show the flashed messages using Bulma's notification class #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification is-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# Show form to send password reset email #}
        <form method="post" action="">

            {{ form.hidden_tag() }}


            <div class="field">
                {{ form.password.label(class="label") }}
                {% if form.password.errors %}
                    {{ form.password(class="input is-danger") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="input") }}
                {% endif %}

            </div>

            {{ form.submit(class='button is-info') }}

        </form>


    </div>
{% endblock %}